<% include partials/header %>

<h2 class="header">Columbia Missourian State Worker Salary Database</h2>

<div class="formContainer">
  <div class="pageInfo">
    <h4>You are searching the City of Columbia database</h4>
  </div>

  <hr />
  <form action="/city/searchName" method="POST" class="search">
    <p class="formText">
      Search by name
    </p>
    <div class="nameInput">
      <input type="text" name="last" placeholder="Last Name" required/>
      <input type="text" name="first" placeholder="First Name" required/>
    </div>
    <button id="searchButton">Search</button>
  </form>

  <p class="formText">
    Or search by department
  </p>
  <form method="POST" action="/city/searchDept">
    <select name="select" onchange="this.form.submit()">
      <option value="default"></option>
      <option value="CITY CLERK">City Clerk</option>
      <option value="CITY MANAGER">City Manager</option>
      <option value="FIRE">Columbia Fire Department</option>
      <option value="P&R">Columbia Parks and Recreation</option>
      <option value="PD">Columbia Police Department</option>
      <option value="PW">Columbia Public Works</option>
      <option value="FLEET OPERATIONS">Columbia Public Works - Fleet Operations</option>
      <option value="PUB TRANS">Columbia Public Transit</option>
      <option value="RR">Columbia Railroad</option>
      <option value="AIRPORT">Columbia Regional Airport</option>
      <option value="SEWER">Columbia Utilities - Sewer</option>
      <option value="SOLID WASTE">Columbia Utilities - Solid Waste</option>
      <option value="STORM WATER">Columbia Utilities - Stormwater</option>
      <option value="WATER">Columbia Water and Light - Water</option>
      <option value="PARKING">Columbia Water and Light - Electric</option>
      <option value="COMMUNITY RELATIONS">Community Relations</option>
      <option value="FINANCE">Finance</option>
      <option value="HUMAN RESOURCES">Human Resources</option>
      <option value="RECREATION SERVICES">Recreation Services</option>
      <option value="SUSTAINABILITY">Sustainability</option>
      <option value="UTILITY CUST SERV">Utility Customer Service</option>
    </select>
  </form>
</div>

  <table class="table">
    <thead>
      <tr>
        <th onclick="sortTable(0)">Last Name</th>
        <th onclick="sortTable(1)">First Name</th>
        <th>Job</th>
        <th>Department</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <% results.forEach(function(result) { %>
      <tr>
        <td>
          <%= result.Last %>
        </td>
        <td>
          <%= result.First %>
        </td>
        <td>
          <%= result.Job %>
        </td>
        <td>
          <%= result.Department %>
        </td>
        <td class="salary">
          <%= result.Salary %>
        </td>
      </tr>
    <% }); %>
    </tbody>
  </table>

<% include partials/footer %>
