<% include partials/header %>

<h2 class="header">Columbia Missourian State Worker Salary Database</h2>

<div class="formContainer">
  <div class="pageInfo">
    <h4>You are searching the State of Missouri database</h4>
  </div>

  <hr />

  <form action="/city/searchName" method="POST" class="search">
    <p class="formText">
      Search by name
    </p>
    <div class="nameInput">
      <input type="text" name="last" placeholder="Last Name" required/>
      <input type="text" name="first" placeholder="First Name" required/>
    </div>
    <button id="searchButton">Search</button>
  </form>

  <p class="formText">
    Or search by department
  </p>
  <form method="POST" action="/govt/searchDept">
    <select name="select" onchange="this.form.submit()">
      <option value="default"></option>
      <option value="AGRICULTURE">Agriculture</option>
      <option value="CONSERVATION">Conservation</option>
      <option value="CORRECTIONS">Corrections</option>
      <option value="ECONOMIC DEVELOPMENT">Economic Development</option>
      <option value="ELEMENTARY AND SECONDARY EDUCATION">Elementary and Secondary Education</option>
      <option value="HEALTH AND SENIOR SERVICES">Health and Senior Services</option>
      <option value="HIGHER EDUCATION">Higher Education</option>
      <option value="INSURANCE, FINANCIAL INSTITUTIONS AND PROFESSIONAL REGISTRATION">DIFP</option>
      <option value="JUDICIARY">Judiciary</option>
      <option value="NATURAL RESOURCES">Natural Resources</option>
      <option value="OFFICE OF ADMINISTRATION">Office of Administration</option>
      <option value="OFFICE OF ATTORNEY GENERAL">Attorney General</option>
      <option value="OFFICE OF SECRETARY OF STATE">Secretary of State</option>
      <option value="OFFICE OF STATE AUDITOR">State Auditor</option>
      <option value="OFFICE OF STATE TREASURER">State Treasurer</option>
      <option value="PUBLIC SAFETY">Public Safety</option>
      <option value="REVENUE">Revenue</option>
      <option value="TRANSPORTATION">Transportation</option>
    </select>
  </form>
</div>

  <table class="table">
    <thead>
      <tr>
        <th>Year</th>
        <th>Agency</th>
        <th>Job</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle</th>
        <th>Pay</th>
      </tr>
    </thead>
    <tbody>
      <% results.forEach(function(result) { %>
      <tr>
        <td>
          <%= result.year %>
        </td>
        <td>
          <%= result.agency %>
        </td>
        <td>
          <%= result.position %>
        </td>
        <td>
          <%= result.last %>
        </td>
        <td>
          <%= result.first %>
        </td>
        <td>
          <%= result.middle %>
        </td>
        <td>
          <%= result.pay %>
        </td>
      </tr>
    <% }); %>
    </tbody>
  </table>
<% include partials/footer %>
