<% include partials/header %>

<h2 class="header">Columbia Missourian State Worker Salary Database</h2>

<div class="formContainer">
  <div class="pageInfo">
    <h4>You are searching the State of Missouri database</h4>
  </div>

  <hr />

  <form action="/city/searchName" method="POST" class="search">
    <p class="formText">
      Search by name
    </p>
    <div class="nameInput">
      <input type="text" name="last" placeholder="Last Name" required/>
      <input type="text" name="first" placeholder="First Name" required/>
    </div>
    <button id="searchButton">Search</button>
  </form>

  <p class="formText">
    Or search by department
  </p>
  <form method="POST" action="/govt/searchDept">
    <select name="select" onchange="this.form.submit()">
      <option value="default"></option>
      <option value="AGRICULTURE">Agriculture</option>
    </select>
  </form>
</div>

<div class="errorMessage">
  <h4>Record not found. Please search again.</h4>
</div>

  <table class="table">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Job</th>
        <th>Department</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <% results.forEach(function(result) { %>
      <tr>
        <td>
          <%= result.Last %>
        </td>
        <td>
          <%= result.First %>
        </td>
        <td>
          <%= result.Job %>
        </td>
        <td>
          <%= result.Department %>
        </td>
        <td>
          <%= result.Salary %>
        </td>
      </tr>
    <% }); %>
    </tbody>
  </table>

<% include partials/footer %>
