<% include partials/header %>

  <div class="formContainer">
    <h1>Missouri State Worker Salary Database</h1>
    <form action="/search" method="POST" id="search">
      <div class="nameInput">
        <input type="text" name="last" placeholder="Last Name" required/>
        <input type="text" name="first" placeholder="First Name" required/>
      </div>
      <button id="searchButton">Search</button>
    </form>
  </div>

  <table class="table">
    <!-- <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Job</th>
        <th>Department</th>
        <th>Salary</th>
      </tr>
    </thead>
    <tbody>
      <% results.forEach(function(result) { %>
      <tr>
        <td>
          <%= result.Last %>
        </td>
        <td>
          <%= result.First %>
        </td>
        <td>
          <%= result.Job %>
        </td>
        <td>
          <%= result.Department %>
        </td>
        <td>
          <%= result.Salary %>
        </td>
      </tr>
    <% }); %>
    </tbody>
  </table> -->
    <thead>
      <tr>
        <th>Year</th>
        <th>Agency</th>
        <th>Job</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle</th>
        <th>Pay</th>
      </tr>
    </thead>
    <tbody>
      <% results.forEach(function(result) { %>
      <tr>
        <td>
          <%= result.year %>
        </td>
        <td>
          <%= result.agency %>
        </td>
        <td>
          <%= result.position %>
        </td>
        <td>
          <%= result.last %>
        </td>
        <td>
          <%= result.first %>
        </td>
        <td>
          <%= result.middle %>
        </td>
        <td>
          <%= result.pay %>
        </td>
      </tr>
    <% }); %>
    </tbody>
  </table>

  <a href="/">Back to search</a>

<% include partials/footer %>
